body, h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 100px;

}

.top-logo {
	width: 25%;
	height: 100px;
	float: left;
	background-color: #FFD500;
}

.top-logo h2 {
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	color:#FE0000;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 8px;

}

.top-logo-img {
    width: 240px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../img/cooltext291345784311917.png);
    background-repeat: no-repeat;
    background-size:contain;
  
}

.top-menu {
	width: 50%;
	height: 100px;
	float: left;
	background-color: #009EE3;
	
}

.top-info {
	width: 25%;
	height: 100px;
	float: left;
	background-color: #A3C62B;
}

.top-info {
	color: #0021ED;

}

.top-info h5 {
	text-align: center;
	text-transform: uppercase;
}

.top-info p {
	margin-left: 46px;
}

/*full-img*/

.full-img {
	width: 100%;
	height: 600px;
	/*border:1px solid red;*/
	background-image: url(../img/full-fix.png);
	background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    /*background-attachment: fixed;  */
}

.redfon-txt {
	width: 300px;
    height: 70px;
    clear: both;
    position: absolute;
    margin-left: 70px;
    margin-top: 77px;
    background-color: red;
}

.redfon-txt:hover {
	width: 300px;
    height: 70px;
    clear: both;
    position: absolute;
    margin-left: 70px;
    margin-top: 77px;
    background-color: #009EE3;
}



.redfon-txt h1 {
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Merriweather', serif;
	margin-top: 15px;
}

.redfon-txt-dob {
    width: 328px;
    height: 61px;
    clear: both;
    position: absolute;
    margin-left: 70px;
    margin-top: 177px;
    background-color: red;
}

.redfon-txt-dob:hover {
    width: 328px;
    height: 61px;
    clear: both;
    position: absolute;
    margin-left: 70px;
    margin-top: 177px;
    background-color: #009EE3;
   
}

.redfon-txt-dob h2 {
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Merriweather', serif;
	margin-top: 15px;
}

/*present*/

.present {
	width: 100%;
	height: 900px;
	background-color: #009EE3;

}

.present-main-txt {
	width: 80%;
	height: 100px;
	margin:0 auto;
	/*border:1px solid red;*/

}

.present-main-txt h1 {
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
	color:#fff;
	font-size: 36px;

}

.present-local {
	width: 80%;
	height:500px;
	border:1px solid green;
	margin:0 auto;

}


.present-local-left,
.present-local-right
 {
	width: 49%;
	height: 500px;
	float: left;
	border:1px solid red;

}

.present-local-left-inner {
	width: 80%;
	height: 250px;
	border:1px solid red;
	margin: 0 auto;
}