body, h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 100px;

}

.top-logo {
	width: 25%;
	height: 100px;
	float: left;
	background-color: #FFD500;
}

.top-logo h2 {
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	color:#FE0000;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 8px;

}

.top-logo-img {
    width: 240px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../img/cooltext291345784311917.png);
    background-repeat: no-repeat;
    background-size:contain;
  
}

.top-menu {
	width: 50%;
	height: 100px;
	float: left;
	background-color: #009EE3;
	
}

.top-info {
	width: 25%;
	height: 100px;
	float: left;
	background-color: #A3C62B;
}

.top-info {
	color: #0021ED;

}

.top-info h5 {
	text-align: center;
	text-transform: uppercase;
}

.top-info p {
	margin-left: 46px;
}

/*full-img*/

.full-img {
	width: 100%;
	height: 600px;
	/*border:1px solid red;*/
	background-image: url(../img/full-fix.png);
	background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    /*background-attachment: fixed;  */
}

.redfon-txt {
	width: 300px;
    height: 70px;
    clear: both;
    position: absolute;
    margin-left: 70px;
    margin-top: 77px;
    background-color: red;
}

.redfon-txt:hover {
	width: 300px;
    height: 70px;
    clear: both;
    position: absolute;
    margin-left: 70px;
    margin-top: 77px;
    background-color: #009EE3;
}



.redfon-txt h1 {
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Merriweather', serif;
	margin-top: 15px;
}

.redfon-txt-dob {
    width: 328px;
    height: 61px;
    clear: both;
    position: absolute;
    margin-left: 70px;
    margin-top: 177px;
    background-color: red;
}

.redfon-txt-dob:hover {
    width: 328px;
    height: 61px;
    clear: both;
    position: absolute;
    margin-left: 70px;
    margin-top: 177px;
    background-color: #009EE3;
   
}

.redfon-txt-dob h2 {
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Merriweather', serif;
	margin-top: 15px;
}

/*present*/

.present {
	width: 100%;
	height: 700px;
	background-color: #009EE3;

}

.present-main-txt {
	width: 80%;
	height: 100px;
	margin:0 auto;
	/*border:1px solid red;*/

}

.present-main-txt h1 {
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	text-align: center;
	padding-top: 25px;
	color:#fff;
	font-size: 36px;

}

.present-local {
	width: 80%;
	height:500px;
	margin:0 auto;

}


.present-local-left,
.present-local-right,
.present-local-middle
 {
	width: 33%;
	height: 500px;
	float: left;
	

}


.present-local-left-inner {
	width: 80%;
	height: 150px;
	padding-top: 15px;
	margin: 0 auto;
	-webkit-border-top-left-radius: 25px;
-webkit-border-bottom-right-radius: 25px;
-moz-border-radius-topleft: 25px;
-moz-border-radius-bottomright: 25px;
border-top-left-radius: 25px;
border-bottom-right-radius: 25px;
}

.present-local-left-inner:hover {
	width: 80%;
	height: 150px;
	padding-top: 15px;
	margin: 0 auto;
	background-color: #A3C62B;
-webkit-border-top-left-radius: 25px;
-webkit-border-bottom-right-radius: 25px;
-moz-border-radius-topleft: 25px;
-moz-border-radius-bottomright: 25px;
border-top-left-radius: 25px;
border-bottom-right-radius: 25px;
}

.inner-img {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.innet-txt {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	text-transform: uppercase;
	font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #000;
}

/*line-sprint*/

.line-sprint {
	width: 100%;
	height: 200px;
	padding-top: 20px;
	background-color: #FFD500;
}

.line-sprint-head-txt {
	width: 80%;
	height: 50px;
	margin: 0 auto;
	/*border:1px solid red;*/
}

.line-sprint-head-txt h1 {
	font-size: 36px;
	text-align: center;
	color:#000;
	font-family: 'Merriweather', serif;


}

.line-sprint-head-txt span {
	color: #FF0000;
}

.line-sprint-txt {
	width: 90%;
	height: 60px;
	color:#000f;
	margin: 0 auto;
	font-family: 'Open Sans',sans-serif;
}

.line-sprint-txt h2 {
	text-align: center;
	    margin-top: 15px;
}

.line-sprint-address {
	width: 90%;
	height: 60px;
	color:#000;
	margin: 0 auto;
	font-family: 'Open Sans',sans-serif;
}

.line-sprint-address h2 {
	text-align: center;
}

/*special-list*/

.special-list {
	width: 100%;
	height: 1000px;

}

.special-list-complete {
	width: 80%;
	height: 900px;
	/*border:1px solid red;*/
	margin: 0 auto;

}

.special-list-complete-left,
.special-list-complete-right {
	width: 49%;
	height: 300px;
	/*border:1px solid red;*/
	float: left;

}

.special-list-complete-left:hover,
.special-list-complete-right:hover {
	background-color: #009EE3;
}

.special-list-complete-left-img {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-top: 20px;
}

.special-list-complete-left-txt {
	    width: 334px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.special-list-complete-left-txt h2 {
	font-family: 'Open Sans',sans-serif;
	margin-left: 15px;
}

